/* Universal Styles */

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #303030;
}

body {
  background-color: #ECF7B8;
}

/*Header styles*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100%;
  z-index: 1;
  top: 0px;
  background-color: #C6D580;
}

nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #030202;
  font-weight: normal;
}
