/* Universal Styles */

html {
  font-size: 18px;
  font-family: "PT Sans", Helvetica;
  color: #303030;
  line-height: 1.6;
}

body {
  background-color: #ECF7B8;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 1rem;
  text-decoration: overline;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/*Header styles*/

header {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  height: 100%;
  width: 220px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #C6D580;
}

nav li {
  display: block;
  font-size: 1.5rem;
  color: RGB(120, 120, 50);
  padding-bottom: 0.75rem;
}

nav {
  padding-right: 2rem;
  padding-left: 1.25rem;
  padding-top: 2rem;
}

li a {
  text-decoration: none;
  color: #030202;
  font-weight: normal;
}

li a:hover {
  color: RGB(120, 120, 50);
  transition-duration: 1.5s;
}

/*Main style*/

.main {
  display: flex;
  padding: 0.75rem;
  margin-left: 220px;
  flex-direction: column;
}

.image-caption img {
  width: 35rem;
}

.image-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.caption {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  }

/*Buy styles*/

.music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
  align-items: center;
  margin-left: 220px;
}

.book img {
  padding-top: 0.75rem;
}

.books {
  padding: 0.75rem;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
}

.booktext {
  display: block;
  padding-left: 2rem;
  width: 60%;
}

/*Watch styles*/

.media {
  margin-left: 220px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: RGB(120, 120, 50);
}

.titles h2 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.titles a {
  text-decoration: none;
  color: #030202;
}

.titles a:hover {
  color: RGB(120, 120, 50);
  transition-duration: 1.5s;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0.75rem;
}

.video {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.video span {
  font-size: 0.9rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/*Tales style*/

.tales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  margin-left: 220px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 40%;
  margin: 0.75rem;
}

.image img {
  width: 100%;
}

.image span {
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

.article a {
  text-decoration: underline;
  color: #030202;
  font-weight: normal;
}

.article a:hover {
  color: RGB(120, 120, 50);
  transition-duration: 1.5s;
}

/*Band styles*/

.band {
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 25%;
  margin: 0.75rem;
}

.photo img {
  width: 100%;
}

.photo span {
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

.songwriters, .additional {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: auto;
  align-items: center;
}
